<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931490629061-psqdtttcf91roh3soqamokn9rpuv2uq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931490629061-psqdtttcf91roh3soqamokn9rpuv2uq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBqwD0fLj7GgUb8xvWm9__z-dFbiG5FWFI</string>
	<key>GCM_SENDER_ID</key>
	<string>931490629061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bahtiyerovich.organico</string>
	<key>PROJECT_ID</key>
	<string>organico-e78f0</string>
	<key>STORAGE_BUCKET</key>
	<string>organico-e78f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931490629061:ios:05b4c4b67521053bbc77ac</string>
</dict>
</plist>